*{
    margin: 0;
    padding: 0;
}
#bgImg{
    background-image: url('kaltsit.jpg'); 
    background-repeat: no-repeat;
    background-position: top left; 
    background-attachment: fixed;
    background-size:cover;
    z-index:-2
}
body{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    /*grid-template-rows: 25% 60% 15%;*/
    grid-template-rows: 200px 600px 150px;
    grid-template-areas: "header . sidebar"
                         "summary . sidebar"
                         "footer . sidebar";
}
#header{
    background-color: rgba(255,255,255,0.8);
    grid-area: header;
}
#summary{
    background-color: rgba(255, 0, 0, 0.8);
    grid-area: summary;
}
#sidebar{
    background-color: rgba(21, 255, 0, 0.8);
    grid-area: sidebar;
}
#footer{
    background-color: rgba(89, 0, 255, 0.8);
    grid-area: footer;
}